:root {
    --blue-color: #4185E4;
}

.title-heading {
    color: var(--blue-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.close-button {
    color: var(--blue-color);
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.user-container {
    cursor: pointer;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    background-color: #D8F4C4;
    border: 1px solid #ddd;
    color: #555;
}
.top-spacer {
    padding-top: 16px;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-img img {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}
.user-title {
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
}
.search-button {
    color: #fff;
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}
.back-button {
    float: right;
}