<div class="modal-header">
        <h3 class="modal-title title-heading" id="modal-title">
            Select Users <i class="fas fa-times-circle close-button" ng-click="cancel()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-repeat="user in users">
            <user></user>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>