<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search ..." ng-model="searchTerm">
            <span class="input-group-btn">
                <button class="btn btn-primary search-button" type="button" ng-click="filterUsers()">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row top-spacer">
    <div class="col-xs-12">
        <ul class="list-group" data-toggle="items">
            <a href="#" class="list-group-item" ng-repeat="user in users" 
                ng-click="toggle(user)" ng-class="{active: user.selected}">
                <user></user>
            </a>
        </ul>
    </div>
</div>       